<div class="header">
  <div class="container">
    <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1m.svg">
    <h1>새 글</h1>
  </div>
</div>

<div class="create">
  <div class="container">
    
     <%= form_for(@board) do |f| %>  
      <div class="field">
        <div class="field_label"> 
        <%= f.label :'게시글 수정' %><br> 
        </div>
        <%= f.label :'제목' %><%= f.text_field :title %><br>
        <%= f.label :'내용' %><br>
        <%= f.text_area :content %> 
      </div> 
      <div class="actions"> 
        <%= f.submit "게시글 수정" %> 
      </div> 
    <% end %>

  </div>
</div>


