<div class="header">
  <div class="container">
    <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1m.svg">
    <h1>새 글</h1>
  </div>
</div>

<div class="create">
  <div class="container">
    
      <div class="board_field"> 
        <div class="board_label">게시글</div>
        <table>
          <tr>
            <td>제목</td>
            <td><%= @board.title %></td>
            <td><%= @board.created_at %></td>
          </tr>
          <tr>
            <td>글쓴이</td>
            <td><%= @board.writer %></td>
            <td>조회</td>
            <td><%= @board.hits %></td>
            <td>댓글</td>
            <td></td>
          </tr>
        </table>
        <div class="board_content"><%= @board.content %></div>
        <div class="reco_btn"></div>
      </div>
      <div class="comment_filed">
        <div class="comment_label">댓글</div>
        <table>
          <% @comments.each do |comment| %> 
          <tr>
            <td><%= comment.writer %></td>
            <td><%= comment.comment %></td>
            <td><%= comment.created_at %></td>
          </tr>
          <% end %>
        </table>
        <div class="comment_label">댓글입력</div>
        <%= form_for(@comment) do |f| %>
        <input type="hidden" name="comment[board_id]" id='comment_board_id' value=<%= @board.id %> >
            <%= hidden_field_tag(:board_id, @board.id) %>
        <table>
           <colgroup>
            <col width="10%"/>
            <col width="20%"/>
            <col width="10%"/>
          </colgroup>
          <tr>
            <td><%= f.text_field :writer , placeholder: '닉네임' %></td>
            <td rowspan="2"><%= f.text_area :comment %></td>
            <td rowspan="2">
                <div class="actions_cmt_btn"> 
                  <%= f.submit "댓글달기" %> 
                </div> 
            </td>
          </tr>
          <tr>
            <td><%= f.password_field :wirter_pwd, placeholder: '비밀번호' %></td>
          </tr>
        </table>
        <% end %>
      </div>
      <div class="actions_btn" onclick="location.href = '<%=edit_chk_path(@board)%>'">
      수정하기
      </div>
      <div class="actions_btn" onclick="location.href = '/boards'">
      목록으로
      </div>
      
      
  </div>
</div>
